/** 360 x 640 **/

.headshot-container {
  height: 230px;
  width: 230px;
  margin: auto;
  margin-bottom: 50px;
}

.headshot {
  width: 100%;
}

.about-copy {
  position: relative;
  top: -10px;
}

.download-resume {
  text-align: center;
  font-weight: 700;
}

.download-resume img {
  width: 20px;
  vertical-align: middle;
}