/** 360 x 640 **/
.tools-container {
  text-align: center;
}

.tool-group {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid 1px gray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tool-group:last-child {
  border: none;
}

.single-tool {
  display: grid;
  grid-template-rows: repeat(2, auto);
  padding-top: 5px;
  padding-bottom: 5px;
}

.single-tool > i {
  color: gray;
  font-size: 30px;
}

#testing-library-icon {
  opacity: .5;
  display: block;
  width: 25px;
  margin: auto;
}

/** 768 x 800 **/

@media(min-width: 768px) {

  .tool-group {
    padding-bottom: 13px;
    padding-top: 13px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .single-tool {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .single-tool > i {
    font-size: 40px;
  }

  #testing-library-icon {
    width: 40px;
  }



}
